@using Models.User
@model Models.User.UserCustomView

@{
    switch (@Model.ViewType)
    {
        case UserViewType.Simple:
            <div class="two column orange row">
                <div class="twelve wide column">Title</div>
                <div class="four wide column">Time</div>
            </div>
            break;
        case UserViewType.Full:
            <div class="four column orange row">
                <div class="two wide column">Actions</div>
                <div class="five wide column">Title</div>
                <div class="six wide column">Description</div>
                <div class="three wide column">Time</div>
            </div>
            break;
    }
}