@model IEnumerable<Models.RSS.Channel>

@{
    ViewBag.Title = "SHowRSSChannels";
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="ui label">
        @Html.ActionLink(@item.Title, "RssListView", "RssReader",
                        new { link = @item.Url },
                        new { })
        <a class="detail"><i class="mail icon"></i> @item.Items.Count</a>
    </div>
}
