@{
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";
}


<header>
    <script>
        $(document).ready(function () {

            $('.ui.search').keyup(function (e) {
                var myURL = '@Url.Action("Index", "Search")';
                var input = $(e.target)
                $.ajax({
                    url: myURL,
                    type: 'POST',
                    data: { searchString: input.val() },
                    cache: false,
                    success: function (data) {

                        $('.ui.search')
                          .search({
                              source: data.results,
                              searchFields: [
                                'title',
                                'description',
                                'url'
                                ],
                              cache: false})
                        //$.each( data, function (index, client ) {
                        //    alert( client.Title + ' ' + client.Url );
                        //});
                     },
                });

            });


        });


    //Template.search_drop.rendered = function () {
    //    $(".dropdown").dropdown({
    //        onChange: function (value, text, $choice) {
    //            console.log(value); //will output the equivalent of {{this.name}}
    //            console.log($choice[0].attributes); //list of attributes
    //            console.log($choice[0].attributes["data-id"].value); //the equivalent of {{this.id}}
    //        }
    //    });
    //}



    </script>
</header>

<body>



    <div class="ui grid">

                <div class="ui two column centered grid">
                    <div class="column">

                        <div class="ui fluid search">
                            <div class="ui fluid massive icon input">
                                <input class="prompt" type="text" placeholder="Search channels...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results">
                                asdasd

                            </div>
                        </div>

                    </div>
                    <div class="four column centered row">
                        <div class="column"></div>
                        <div class="column"></div>
                    </div>
                </div>

    </div>

    @*<template name="search_drop">
        <div class="ui floating dropdown labeled search icon button">
            <i class="search icon"></i>
            <span class="text">Search subjects...</span>
            <div class="menu">
                {{#each subjects}}
                <div class="item" data-id="{{this.id}}" data-value="{{this.value}}" data-child="{{this.haschildren}}">
                    {{this.name}}
                </div>
                {{/each}}
            </div>
        </div>*@
    @*</template>*@


</body>

