@model List<Models.RSS.UserChannel>

@{
    ViewBag.Title = "SHowUserChannels";
    Layout = null;
 }


@foreach (var item in Model)
{
    <div class="ui label">
       
        @Html.ActionLink(@item.Channel.Title, "ShowUserItems", "RssReader",
            new {userChannelId = @item.Id},
            new {})
        <a class="detail">
            <i class="mail icon"></i> @item.UserItems.Where(x=>x.UserChannelId == item.Id && x.ApplicationUserId == item.ApplicationUserId).Count(x=>x.Read == false)
        </a>
    </div>
}
