@model List<Models.ViewModels.ShowAllUserItemsViewModel>

@{
    ViewBag.Title = "Show All Unread User Items";
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";
}

<div id="Error" class="ui negative message" hidden="hidden">
    <i class="close icon"></i>
    <div class="header">
        We are experiencing some trouble processing your request
    </div>
    <p>
        Please try again.
    </p>
</div>

@Html.ActionLink("Mark all items as read", "MarkAllItemsAsRead", "RssReader", null, null)

<table class="ui celled striped table">
    <thead>
        <tr>
            <th></th>
            <th>Channel</th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Link
            </th>
            <th>
                Publication
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userItemViewModel in Model)
        {
            @Html.Partial("_AllUserItemsView", userItemViewModel)
        }
    </tbody>
</table>

@section scripts
{

    <script src="~/Scripts/Developer/PostIsReadFunctionality.js"></script>
    <script src="~/Scripts/Developer/ratings.js"></script>
    <script src="~/Scripts/Attachers/showUserItems.js"></script>

}