@model List<Models.RSS.UserChannel>

@{
    ViewBag.Title = "SHowUserChannels";
    Layout = null;
}

    <div class="ui large vertical menu">

        @foreach (var item in Model)
        {
            <div class="link item">

                @Html.ActionLink(@item.Channel.Title, "ShowUserItems", "RssReader",
                new { userChannelId = @item.Id },
                new { })
                <div class=" ui green circular label">
                    @item.UserItems.Where(x => x.UserChannelId == item.Id && x.ApplicationUserId == item.ApplicationUserId).Count(x => x.Read == false)
                </div>

            </div>
        }
    </div>


