@using Models.ViewModels;

@model IEnumerable<SearchChannel>

@{
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";


}

<script type='text/javascript'>
    $(document).ready(function () {

        $('.ui.massive.fluid.input').keypress(function (e) {
            if (e.which === 13) {
                var input = $(e.target);
                var myURL = '@Url.Action("IndexSearch", "Search")';
                $.ajax({
                    type: 'POST',
                    url: myURL,
                    data: { searchString: input.val() },
                    success: function (data) {
                        $('#myPartialDiv').html(data);
                    }
                })
            }
        });

    });
</script>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchString")
    </p>
}

@*<div class="ui massive fluid input">
        <input type="text" placeholder="Search by string or rss Url">
    </div>*@


<div id="myPartialDiv">
        @Html.Partial("SearchChannel", Model)
        <!-- here your partial -->
</div>

