@using Models.ViewModels;

@model IEnumerable<SearchChannel>

@{
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";


}

<script type='text/javascript'>
    $(document).ready(function () {

        $('.ui.fluid.icon.massive.input.loading').keypress(function (e) {
            if (e.which === 13) {
                var input = $(e.target);
                var myURL = '@Url.Action("Index", "Search")';
                $.ajax({
                    type: 'POST',
                    url: myURL,
                    data: { searchString: input.val() },
                    success: function (data) {
                        $('#feed').html(data);
                    }
                })
            }
        });

    });
</script>

@*@using (Html.BeginForm())
    {
        <div class="ui grid">

            <div class="ui two column centered grid">
                <div class="column">

                    @Html.TextBox("searchString", null, new { @class = "ui fluid massive input", @placeholder = "         Search by string or rss Url...", @style = "width:500px;height:60px" })

                </div>

            </div>
        </div>


        <div class="ui right labeled left icon input">
      <i class="tags icon"></i>
      <input type="text" placeholder="Enter categories">
      <div class="ui tag label">
        Tags
      </div>
    </div>
    }*@

<div class="ui grid">

    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui fluid icon massive input loading">
                <input type="text" placeholder="Search RSS channel by string or rss Url...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>
<br />
@if (@Model != null)
{
    <div id="myPartialDiv">
        @Html.Partial("SearchChannel", Model)
    </div>
}
