@using Models.ViewModels;

@model Search

@{
    Layout = "~/Views/Shared/_Layout_RSSreader.cshtml";

    
}

<script type='text/javascript'>
    $(document).ready(function () {

        $('.ui.fluid.icon.massive.input.loading').keypress(function (e) {
            if (e.which === 13) {
                var input = $(e.target);
                var myURL = '@Url.Action("Index", "Search")';
                $.ajax({
                    type: 'POST',
                    url: myURL,
                    data: { searchString: input.val() },
                    success: function (data) {
                        $('#feed').html(data);
                    }
                })
            }
        });


            $('.button')
              .popup({
                  inline: true,
                  variation: 'inverted'
              })
            ;


            $('.modal-show').on('click', function () {
                $($(this).attr('data-target')).modal('show');
            });


    });
</script>


<a class="modal-show" data-target="#myModal"> Click</a>

<div class="ui modal" id="myModal">
    <i class="close icon"></i>
    <div class="header">
        Modal Title
    </div>
    <div class="content">


    </div>
</div>

<div class="ui grid">

    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui fluid icon massive input loading">
                <input type="text" placeholder="Search RSS channel by string or rss Url...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>
<br />

@if (Model != null)
{
    

if (Model.ChannelList != null)
{
    <div id="myPartialDiv">
        @Html.Partial("SearchChannel", Model.ChannelList)
    </div>
}

if (Model.UsersList != null)
{
    <div id="myPartialDiv">
        @Html.Partial("SearchUsers", Model.UsersList)
    </div>
}
}